<div class="brewery-list-page">
  <h1>Find a brewery</h1>
  <h3>Select a country from the list</h3>
  <div class="select">
    <select
      aria-label="country-code"
      name="selectedCode"
      [(ngModel)]="selectedCode"
      value='{{this.selectedCode}}'
      (change)="filterSelectedCountry($event.target.value)"
    >
      <option value="All countries">All countries</option>
      <option *ngFor="let item of codes" [ngValue]='item' >
        {{item}}
      </option>
    </select>
  </div>
  <ng-container>
    <h2>Breweries from {{selectedCode.toString()}}</h2>
  </ng-container>
  <div *ngIf="data.data; else loading">
    <div *ngIf="selectedCode==='All countries'; else chosenCountries">
      <ng-container *ngFor="let item of uniqueDataBrewery">
        <div>
          <a routerLink="brewery/{{item.id}}" routerLinkActive="active"><h4>{{item.name}}</h4></a>
        </div>
      </ng-container>
    </div>
    <ng-template #chosenCountries>
      <ng-container *ngFor="let item of uniqueBrewByCountry">
        <div>
          <a routerLink="brewery/{{item.breweryId}}" routerLinkActive="active"><h4>{{item.brewery.name}}</h4></a>
        </div>
      </ng-container>
    </ng-template>
  </div>
  <div>
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </div>
</div>
