<div
  class="beer-img-details"
  *ngIf="!loadingInProgress;
  else loading"
>
  <h1>
    {{beerDetails.name}}
  </h1>
  <div>
    <p>
      <b>Style:</b>
      {{beerDetails.style.name}}
    </p>
    <p>
      <b>Brewed by:</b>&nbsp;
      <a
        href="breweries/brewery/{{beerDetails.breweries[0].id}}"
      >
        {{beerDetails.breweries[0].name}}
      </a>
      in {{beerDetails.breweries[0].locations[0].country.displayName}}
    </p>
    <div class="abv-ibu">
      <p>
        <b>ABV: </b>
        {{beerDetails.abv}}%
      </p>
      <p><b>IBU: </b>
        {{beerDetails.style.ibuMin}} - {{beerDetails.style.ibuMax}}
      </p>
    </div>
  </div>
  <div
    class="beer-img"
    *ngIf="beerDetails.labels && beerDetails.style.description;
    else noImage"
  >
 <img
   src="{{beerDetails.labels.medium}}"
      alt="beer-label"
 />
  </div>
  <ng-template #noImage>
    <p> </p>
  </ng-template>
  <div class="beer-description" >
<p>
  {{beerDetails.style.description}}
</p>
  </div>
  <ng-template #noDescription>
    <p> </p>
  </ng-template>
</div>
<ng-template #loading>
  <h3>
    <b>Loading...</b>
  </h3>
  <img
    src="https://res.cloudinary.com/mokaweb/image/upload/c_scale,w_144/v1588238513/PXl.WIDGETS/beer.gif"
       alt="beer"
  />
</ng-template>
