<div class="nav-page">
<div class="nav-buttons">
  <button routerLink="/breweries" routerLinkActive="active" >Breweries</button>
  <a class="home-icon" routerLink="/" routerLinkActive="active"><img src="assets/images/white-home-icon.png" alt="TapApp-homepage"/></a>
  <button routerLink="/beers" routerLinkActive="active" >Beers</button>
</div>

<div class="scrollbar" id="style-2">
  <router-outlet></router-outlet>
</div>
</div>
<div class="footer">
  <h4>Application created in Angular by <a rel="noopener noreferrer" href="https://monikaswidzinska.netlify.app/" target="_blank">Monika Swidzinska</a> for PXL.WIDGETS</h4>
</div>
