<div class="search-page" *ngIf="!loadingInProgress; else loading">
  <h2>Search beers by name, type or country</h2>
  <div class="buttons-next-clear">
    <button (click)=clearInputFields()>Reset searching</button>
    <button (click)=getNextPage()>Next page</button>
  </div>
  <div class="search-boxes">
    <div>
      <label class="name">
        <input type="text" [(ngModel)]="searchName" placeholder="search by name" (change)="onNameChange($event)">
      </label>
      <label class="type">
        <input type="text" [(ngModel)]="searchType" placeholder="search by type" (change)="onTypeChange($event)">
      </label>
    </div>
  </div>


  <div class="select">
    <label>Choose a country</label>

    <select
      aria-label="country-code"
      name="selectedCode"
      [(ngModel)]="selectedCode"
      value='{{this.selectedCode}}'
      (change)="onCountryChange($event.target.value)"
    >
      <option *ngFor="let item of  codes" [ngValue]='item'>
        {{item}}
      </option>
    </select>
  </div>

  <div class="numberOfPages" *ngIf="numberOfPages >= 1 && page < numberOfPages + 1; else noPages">
    <h5>page {{page}}/{{numberOfPages}}</h5>

  </div>
  <ng-template #noPages>
    <div *ngIf="page > numberOfPages && numberOfPages > 1; else empty">
      <p>No more beers here</p>
    </div>
    <ng-template #empty>
      <p></p>
    </ng-template>
  </ng-template>
  <div class="beer-box" *ngIf="selectedBeers.length === 0 && !selectedCode; else searchForBeers">

    <div class="random-beer">
      <button class="button-random" (click)="getRandomBeer()">Random beer</button>

        <a routerLink="beer/{{randomBeer.id}}" routerLinkActive="active">
          <h2>{{randomBeer.name}}</h2></a>
          <img src="https://res.cloudinary.com/mokaweb/image/upload/c_scale,w_200/v1595847368/PXl.WIDGETS/randombeer.png" alt="random beer">

        <h4>Style: {{randomBeer.style.name}}</h4>
        <h5>{{randomBeer.style.description}}</h5>
      <a routerLink="beer/{{randomBeer.id}}" routerLinkActive="active"> <h4>Read more >></h4></a>

      </div>
  </div>
  <ng-template #searchForBeers>
    <div class="beers-box">
      <ng-container *ngFor="let item of selectedBeers">
        <a routerLink="beer/{{item.id}}" routerLinkActive="active"><h5>{{item.name}}</h5></a>
      </ng-container>
    </div>
  </ng-template>
</div>
<ng-template #loading>
  <h3><b>Loading...</b></h3>
  <img src="https://res.cloudinary.com/mokaweb/image/upload/c_scale,w_144/v1588238513/PXl.WIDGETS/beer.gif"
       alt="beer"/>
</ng-template>
