$brand-font-color: #271717;

.brewery-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5%;
  color: $brand-font-color;

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 1.7em;
  }

  h3 {
    margin: 0 0 8%;
  }

  h4 {
    font-size: 1.1em;
    color: rgb(39, 23, 23);
    margin: 7% 0;
  }

  label {
    margin-bottom: 3%;
  }

  input {
    width: 140px;
    margin-right: 6%;
    border-radius: 5px;
    height: 18px;
    border: 1px solid #46464681;
    padding-left: 5px;
  }

  button {
    margin: 2% 5% 5% 5%;
    width: 170px;
    height: 25px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ffb700ec;
    border-color: rgba(255, 211, 99, 0.773);
    color: #240603b9;
  }

  button:focus {
    outline: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #4b3535;
    background-image: none;
  }

  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }

  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 30px;
    line-height: 3;
    background: #4b3535;
    overflow: hidden;
    border-radius: .25em;
    margin-bottom: 10%;
  }

  select {
    flex: 1;
    padding: 0 0 0 1em;
    color: #fff;
    cursor: pointer;
  }

  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: -0.5em;
    right: 0;
    padding: 0 1em;
    background: #4b3535;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }

  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

  .img_brewery {
    display: flex;
    flex-direction: row;
    padding-right: 2%;
    margin: 0 0 2% 0;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.09);
    background-color: rgba(255, 255, 255, 0.47);
    width:105%;


    img {
      border-radius: 15px;
    }
    h4 {
      margin: 20px 0 5px 20px;
      text-align: left;
    }
    h6 {
      font-size: 0.7em;
      margin: 0 0 0 20px;
      text-align: left;
      color: grey;
    }
  }
}
