<div class="brewery-list-page">
  <h1>
    Find a brewery
  </h1>
  <label>
    <input
      type="text"
      [(ngModel)]="searchName"
      (change)="onNameChange($event)"
      placeholder="Search by name"
    >
  </label>
  <button
    (click)=clearInputFields()
  >
    Reset searching
  </button>
  <div class="select">
    <select
      aria-label="country-code"
      name="selectedCode"
      [(ngModel)]="selectedCode"
      (change)="onCountryChange($event)"
    >
      <option
        [ngValue]="'All countries'">
        All countries
      </option>
      <option
        *ngFor="let item of codes"
        [ngValue]='item'
      >
        {{item}}
      </option>
    </select>
  </div>
  <div
    *ngIf="data;
    else loading"
  >
    <div
      *ngIf="searchName !=='';
      else showPage"
    >
      <div class="img_brewery"
        *ngFor="let item of selectedBreweries"
      >
        <ng-container
          *ngIf="item.images;
            else noImage">
          <img
            src="{{item.images.icon}}"
            alt="image"
          >
        </ng-container>
        <ng-template #noImage>
          <div></div>
          <img
            src="https://res.cloudinary.com/mokaweb/image/upload/c_scale,w_64/v1596114778/PXl.WIDGETS/noimage.png"
            alt="brewery_icon">
        </ng-template>
        <div>
          <a
            routerLink="brewery/{{item.id}}"
            routerLinkActive="active">
            <h4>
              {{item.name}}
            </h4>
          </a>
        </div>
      </div>
    </div>
    <ng-template #showPage>
      <ng-container>
        <h2>
          Breweries from {{selectedCode.toString()}}
        </h2>
      </ng-container>
      <div
        *ngIf="selectedCode==='All countries';
        else chosenCountries"
      >
        <div class="img_brewery"
          *ngFor="let item of selectedBreweries"
        >
          <ng-container
            *ngIf="item.images;
            else noImage">
            <img
              src="{{item.images.icon}}"
              alt="image"
            >
          </ng-container>
          <ng-template #noImage>
            <div></div>
            <img
              src="https://res.cloudinary.com/mokaweb/image/upload/c_scale,w_64/v1596114778/PXl.WIDGETS/noimage.png"
              alt="brewery_icon">
          </ng-template>
          <div>
            <a
              routerLink="brewery/{{item.id}}"
              routerLinkActive="active">
              <h4>
                {{item.name}}
              </h4>
            </a>
          </div>
        </div>
      </div>
      <ng-template #chosenCountries>
        <div class="img_brewery"
          *ngFor="let item of uniqueBrewByCountry"
        >
          <ng-container
            *ngIf="item.brewery.images;
            else noImage">
            <img
              src="{{item.brewery.images.icon}}"
              alt="image"
            >
          </ng-container>
          <ng-template #noImage>
            <div></div>
            <img
              src="https://res.cloudinary.com/mokaweb/image/upload/c_scale,w_64/v1596114778/PXl.WIDGETS/noimage.png"
              alt="brewery_icon">
          </ng-template>
          <div>
            <a
              routerLink="brewery/{{item.breweryId}}"
              routerLinkActive="active">
              <h4>
                {{item.brewery.name}}
              </h4>
            </a>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
  <ng-template #loading>
    <h3>
      <b>Loading...</b>
    </h3>
    <img
      src="https://res.cloudinary.com/mokaweb/image/upload/c_scale,w_144/v1588238513/PXl.WIDGETS/beer.gif"
      alt="beer"
    />
  </ng-template>
</div>
